<h1> Hospital Name: <%= @hospital.name %> </h1>
<br>
<h3> Number of doctors that work at this hospital: </h3>
<p> <%= @hospital.doctor_count %> </p>
<br>
<h3> Unique list of the University's this Hospital's Doctors went to: </h3>
<% @hospital.unique_list_of_schools.each do |doctor| %>
  <p> <%= doctor.university %> </p>
<% end %>